<ul class="nav nav-bordered mb-4 nav-overflow header-tabs">
  <li class="nav-item">
    <%= active_link_to(
      t("administrate.variant.actions.show"),
      [namespace, page.resource], class: 'nav-link', active: :exclusive) %>
  </li>
  <li class="nav-item">
    <%= active_link_to(
      t("administrate.variant.actions.images"),
      [namespace, page.resource, ::Spree::Image], class: 'nav-link') %>
  </li>
  <li class="nav-item">
    <%= active_link_to(
      t("administrate.variant.actions.prices"),
      [namespace, page.resource, ::Spree::Price], class: 'nav-link') %>
  </li>
</ul>