<div class="form-group">
  <%= form.label(label) %>
  <%= form.search_field(field) %>
</div>

<!-- unsupported Field::HasOne -->
<!-- unsupported Field::Polymorphic -->
<!-- unsupported Field::Password -->
