<% actions = [
    valid_action?(:edit, collection_presenter.resource_name),
    valid_action?(:destroy, collection_presenter.resource_name)
] %>

<% if actions.include?(true) %>
  <td class="cell-action" data-label="Actions">
    <% if valid_action?(:edit, collection_presenter.resource_name) && show_action?(:edit, resource) %>
      <%= link_to(
        t("administrate.actions.edit"),
        [:edit, namespace, parent_resource, resource],
        class: "btn btn-sm btn-ghost-primary action-edit",
        'data-turbo-frame': "remote_modal"
        ) if show_action? :edit, resource %>
    <% end %>

    <% if valid_action?(:destroy, collection_presenter.resource_name) && show_action?(:destroy, resource) %>
      <%= link_to(
        t("administrate.actions.destroy"),
        [namespace, parent_resource, resource],
        class: "btn btn-sm btn-ghost-danger action-destroy",
        data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace" }
        ) if show_action? :destroy, resource %>
    <% end %>
  </td>
<% end %>