<% field_key = model.ransackable_scopes.include?(field) ? field : "#{field}_eq" %>

<div class="form-group" data-controller='select'>
  <%= form.label(label) %>
  <%= form.select(field_key, type.options[:collection] || [], { include_blank: true }, 'data-select-target': 'input') %>
</div>