<div class="card">
  <div class="card-body">
    <h3 class="card-title">Riepilogo</h3>
    
    <h2 class="attribute-label">
      <%= page.resource.name %>
    </h2>

    <% if page.resource.rules.empty? && page.resource.actions.empty? %>
      <p class="text-muted">
        Nessuna regola o azione associata
      </p>
    <% end %>

    <ul>
      <% page.resource.rules.each do |rule| %>
        <li><%= rule.dashboard_display_name %></li>
      <% end %>
      <% page.resource.actions.each do |action| %>
        <li><%= action.dashboard_display_name %></li>
      <% end %>
    </ul>
  </div>
</div>
