<div class="batch-actions-alert alert alert-secondary alert-dismissible fade" role="alert" data-table-target="modal">
  <!-- Content -->
  <div class="row align-items-center">
    <div class="col">
      <span class="list-alert-count" data-table-target="count">0</span> <%= resource_name %> selected
    </div>

    <div class="col-auto me-n3">
      <!-- Actions -->
      <%= link_to 'delete', polymorphic_path([:destroy_bulk, namespace, resource_class]), class: "btn",
        data: { table_target: 'action', action: 'click->table#action_method', 
                turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace", turbo_method: :post } %>
    </div>
  </div>

  <!-- Close -->
  <button type="button" class="btn-close" aria-label="Close" data-action="click->table#clear"></button>
</div>
