<% actions = [
    valid_action?(:edit, collection_presenter.resource_name),
    valid_action?(:destroy, collection_presenter.resource_name)
] %>

<% if actions.include?(true) %>
  <td class="cell-action" data-label="Actions">
    <% if valid_action? :edit, collection_presenter.resource_name %>
      <%= link_to(
        t("administrate.actions.edit"),
        [:edit, namespace, resource],
        class: "action-edit",
        target: '_top'
        ) if show_action? :edit, resource%>
    <% end %>

    <% if valid_action? :destroy, collection_presenter.resource_name %>
      <%= link_to(
        t("administrate.actions.destroy"),
        [namespace, resource],
        class: "text-danger",
        target: '_top',
        data: { turbo_method: :delete, turbo_confirm: t("administrate.actions.confirm"), turbo_action: "replace" }
        ) if show_action? :destroy, resource %>
    <% end %>
  </td>
<% end %>