<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav flex-row order-md-last">
      <div class="d-none d-md-flex">
        <a href="?theme=dark" class="nav-link px-0 me-3 hide-theme-dark"
          data-action="click->theme#dark"
          title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable dark mode">
          <i class="icon ti ti-moon"></i>
        </a>
        <a href="?theme=light" class="nav-link px-0 me-3 hide-theme-light"
          data-action="click->theme#light"
          title="" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Enable light mode">
          <i class="icon ti ti-sun"></i>
        </a>
      </div>
      <%= render "user_session" -%>
    </div>

    <div class="collapse navbar-collapse" id="navbar-menu">
      <!--
      <div>
        <form action="." method="get">
          <div class="input-icon">
            <span class="input-icon-addon">
              <i class="icon ti ti-search"></i>
            </span>
            <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
          </div>
        </form>
      </div>
      -->
    </div>
  </div>
</header>