<%- frame_id = dom_id(form.object, "#{attribute}_inline") %>
<%= turbo_frame_tag frame_id, class: 'contents' do %>
  <%= yield %>

  <div class="inline-actions mt-3 mb-3">
    <%= form.button class: 'btn btn-sm btn-ghost-success inline-action' do %>
      <i class="icon ti ti-check"></i>
      Save
    <% end %>

    <%= link_to polymorphic_path([namespace, form.object]), class: 'btn btn-sm btn-ghost-danger inline-action' do %>
      <i class="icon ti ti-x"></i>
      Cancel
    <% end %>
  </div>
<% end %>
