<%= turbo_frame_tag "remote_modal" do %>
  <div class="modal fade" tabindex="-1" data-controller="turbo-modal"
    data-action="turbo:before-render@document->turbo-modal#hideBeforeRender turbo:submit-end@document->turbo-modal#hideBeforeRender">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <%= title %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="remote_modal_body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>