<%= turbo_frame_tag "remote_modal" do %>
  <div class="modal fade" tabindex="-1" data-controller="turbo-modal" data-bs-backdrop="static" data-bs-keyboard="false"
    data-action="turbo:before-render@document->turbo-modal#hideBeforeRender turbo:submit-end@document->turbo-modal#hideBeforeRender turbo:load@document->turbo-modal#showOnError">
    <div class="modal-dialog <%= 'modal-lg' if local_assigns[:large] %>">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <%= title %>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="remote_modal_body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>