<form class="search" role="search" data-controller="search">
  
  <div class="input-icon">

    <span class="input-icon-addon">
      <i class="icon ti ti-search"></i>
    </span>

    <input class="form-control"
          id="search" type="search" name="search"
          placeholder="<%= t("administrate.search.label",
                              resource: resource_name) %>"
          value="<%= search_term %>"
          data-action="keyup->search#submit" data-turbo-preserve-focus>


    <%= link_to clear_search_params, class: "input-icon-addon" do %>
      <span class="d-none"><%= t("administrate.search.clear") %></span>
      <i class="icon ti ti-clear"></i>
    <% end %>
  </div>

</form>