<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="page-item next">
  <%= link_to url, rel: 'next', disabled: current_page.out_of_range?, remote: remote,
      class: "page-link btn-link ps-4 pe-0 border-start #{'disabled' if current_page.out_of_range?}" do %>
    <%= t('views.pagination.next') %>
    <i class="icon ti ti-arrow-right me-1"></i>
  <% end %>
</li>
