.navbar-vertical.navbar-expand-lg .navbar-brand-img {
  max-height: 2.5rem;
  
  @media (min-width: 992px) {
    max-height: 6.5rem;
  }
}

.form-select {
  -webkit-appearance: none;
}

.dropdown {
  position: static;
}

.card-table {
  td.cell-action {
    text-align: right;
  }
}

.avatar {
  object-fit: cover;
  object-position: center;
}

// Active Storage Field

.attachments-listing, .cell-data.cell-data--active-storage {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}


// Inline Edit

.inline-action {
  display: none;
}

.inline-edit .inline-action {
  display: initial;
}
