:root {
  --tblr-blue: #3c76f0;
  --tblr-primary: #3c76f0;
  --tblr-dark: #24282f;
  --tblr-primary-rgb: 32, 107, 196;
  --tblr-dark-rgb: 30, 41, 59;
  // --tblr-body-color-rgb: 30, 41, 59;
  // --tblr-body-bg-rgb: 245, 247, 251;
  --tblr-body-color: #24282f;
  // --tblr-body-bg: #fafbfc;
}