<%#
# String Index Partial

This partial renders a string attribute
to be displayed on a resource's index page.

By default, the attribute is rendered as a truncated string.

## Local variables:

- `field`:
  An instance of [Administrate::Field::String][1].
  A wrapper around the String pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/String
%>

<%# page = ::Administrate::Page::Show.new(@dashboard, field.resource) %>
<%- attributes = %i[sku name] %>
<%- variant = field.resource.variant %>

<div class="d-flex py-1 align-items-center">
  <!-- Avatar -->
  <%- gallery = variant.gallery.images %>
  <%- image_src = gallery.any? && gallery.first.attachment.attached? ? url_for(gallery.first.attachment) : image_path('admin/default-placeholder.png') %>
  <img src="<%= image_src %>" alt="<%= field.truncate %>" class="avatar me-2">
  <div class="flex-fill">
    <% attributes.each do |attribute_name| %>
      <p class="mb-1 small">
        <span class="attribute-label fw-bolder">
          <%= t( "helpers.label.#{resource_name}.#{attribute_name}" ) %>
        </span>

        <span class="attribute-data fw-normal">
          <%= variant.send(attribute_name) %>
        </span>
      </p>
    <% end %>
  </div>
</div>
