<%- if icon.present? -%>
  <span class="nav-link-icon d-md-none d-lg-inline-block">
    <i class="icon <%= icon %>" aria-hidden="true"></i>
  </span>
<% end %>
<span class="nav-link-title">
  <%= label %>
</span>